<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="solti.cordova.plugin.exit" version="0.0.1">
  <name>Exit</name>
  <description>Implements navigator.app.exit on Android</description>
  <author>Dénes Solti</author>

  <js-module src="www/exit.js" name="exit">
    <merges target="navigator.app" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <source-file src="src/android/ExitPlugin.java" target-dir="src/cordova/custom/plugins/exit" />
    <config-file target="config.xml" parent="/*">
      <feature name="ExitPlugin">
        <param name="android-package" value="org.solti.cordova.plugin.exit.ExitPlugin" />
      </feature>
    </config-file>
  </platform>
</plugin>
